<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.codelabs.konspirasisnack">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.codelabs.konspirasisnack.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:debuggable="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="HardcodedDebugMode">
        <activity
            android:name="com.codelabs.konspirasisnack.activity.DaftarPesananActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="com.codelabs.konspirasisnack.activity.PembayaranActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.codelabs.konspirasisnack.activity.DaftarPelangganActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.codelabs.konspirasisnack.activity.MainActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity

            android:name="com.codelabs.konspirasisnack.activity.RegisterMasukanProdukActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.codelabs.konspirasisnack.activity.RegisterInformasiUsahaActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustPan" >

        </activity>
        <activity
            android:name="com.codelabs.konspirasisnack.activity.RegisterVerifikasiActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.codelabs.konspirasisnack.activity.SignInActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.codelabs.konspirasisnack.activity.RegisterActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustPan" />

        <!-- imagepicker-->

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <provider
            android:authorities="${applicationId}.provider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBsWXwhq5jVDJnWlwBbZRTbbaZ8xUJNCXo" />


    </application>

</manifest>